<section id="interests">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>My personal interests</h2>
              <hr />
          </div>
      </div>
      <div class="row" style="text-align: justify;">
          <div class="col-lg-12">
          <h3 style="margin-top:0">Game Development</h3>
          <ul >
              <li>
              I am really interest with a video game development cycle. I kills my free time mostly at online video games. I am curious about how online video games work like the game mechanism, the architecture, the flow behind, also the cycle of their team to ship a video game until it is wrap and deliver to users. I hopes someday, I will became game developer.
              </li>
          </ul>

          <h3 style="margin-top:0">Query Optimization</h3>
          <ul>
              <li>
              As a Backend Engineer, query result time is very critical. If query result is take a long time to give a response then there is something not optimize with the query. You can optimize your query by doing indexing, select only column you needed, use the correct where like format and avoid using format "%word%". Before running a query for the first time, ensure the results will be desirable and meaningful by using a LIMIT statement.
              </li>
          </ul>

          <h3 style="margin-top:0">Traveling</h3>
          <ul>
              <li>
              I love traveling abroad, see the culture in other countries and meet new people. It's very excited to go some places you never been before. You can relaxing and refreshing your brain and body by doing traveling.   
              </li>
          </ul>
          </div>
      </div>
  </div>
</section>
