<section class="tout" id="projects">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Projects</h2>
            <hr />
          </div>
      </div>
      <div class="row" style="text-align: justify;">
        <div class="col-lg-12">
          <h3 style="margin-top:0">Current Job</h3>
          <ul >
            <li>
              Otomoto is digital solution in automotive industry. They have 5 main features such as Price Engine (Check vehicle price), JubelMoto (marketplace for buy, sell and trade-in motorcycle), Smart Inspection, Booking Service, and Loan.
              <ol>
                <li>
                  Contributed to each products/features delivery phase (analysis, development, deployment).
                </li>
                <li>
                  Maintain and Delivery new products/features in Agile (Scrum).
                </li>
                <li>
                  Build scaleable services (REST) using framework php (Laravel), micro framework python (Flask) and framework Golang (Echo.labstack).
                </li>
              </ol> 
              For more details check <b><a href="https://otomoto.id/">Otomoto Indonesia</a> </b>
            </li>
          </ul>
  
          <h3 style="margin-top:0">Recent Projects</h3>
          <ul>
            <li>
              Daya auto is a platform based on mobile application (Android) and used to booking your motorcycle service online and check all location of all related DAYA workshops networking that spread around western of java. For more details check <b><a href="https://dayaauto.co.id/daya-auto/about">DAYA AUTO</a> </b>
            </li>
            <li>
                Urentool is a tool based on web application to manage employees, time and your invoices. This tool is written before with ASP/JSP (I forgot), My responsibilities in this project is to migrate the old language into the latest technology so I was doing Fullstack development in this project. This project is really takes too much time and energy because you need to make sure all logic in old platform is not miss or replaced with the new language. Basically it's start from scratch. I am only doing this project for phase 1 and 2. We choose VueJs and Laravel 5.2 as new language to migrate. For more details check <b><a href="https://www.urentool.com/">Urentool</a></b>
            </li>
          </ul>
          
          <h3>Other Things</h3>
            <ul>
              <li>
                Volunteer for Education at "Yayasan Sayap Ibu" since March 2015 until June 2015
              </li>
              <li>
                Volunteer for Social Services to validate KJP (Kartu Jakarta Pintar) since October 2015 until January 2016
              </li>
            </ul>
        </div>
      </div>
    </div>
  </section>